h1 {
    color: #006CFF;
    text-decoration: underline
}

.maincontainer {
    text-align: center;
    width:900px;
    height: 300px; 
    margin:20px auto;
}

#todochecklist{
    text-align: left;
}

#todoform{
    width: auto;
    margin: 5px 25px;
    text-align: justify;
}

ul li span{
    color: #006CFF;
}

li {
    color: #485058;
}
input[type="submit"]{
    background-color: #006CFF;
    color: white;
    border-radius: 5px;
}