* {
    box-sizing: border-box;
}

body{
    background-color: #F8F9FA;
    justify-content: center;
    margin: 120px 120px;
    width:900px;
    
}

h1 {
    color: #006CFF;
    text-decoration: underline;
    text-align: center;
}

#formcontainer{
    margin: 60px 0;
    /* border: 2px solid yellow; */
}

ul#my-to-dos-list {
    padding: 0;
}

/* #maincontainer {

    text-align: center;
    
    height: 150px; 
    margin:20px auto;
    margin: auto;
    width: 70%;
    border: 1px solid greenyellow;
    display:flex;
} */

/* #todochecklist{
    text-align: left;
} */



/* #todoform{
    width: auto;
    margin: 15px 25px;
    text-align: justify;
    border: 5px solid white;
    background-color: white;
    
} */

/* #todosfilter{
    width: auto;
    margin: 5px 25px;
    border: 1px solid green;
    text-align: right;
} */
/* .checklistcontainner{
    display: flex;
} */

/* #todochecklist{
    border: 1px solid red;
    margin: 5px 25px;
    width: 50%;
} */
/* #filterdate{
    margin: 5px 25px;
    width: 50%;
}
#searchdate{
    width: 30%;
    margin: 40px auto;
    border: 1px solid #F8C246;
    text-align: center;

}
ul li span{
    color: #006CFF;
}

li {
    color: #485058;
}
input[type="submit"]{
    background-color: #006CFF;
    color: white;
    border-radius: 5px;
}

input[type="text"] {
    width: 90%;
    border: none;
}

input[type="select"] {
    border: none;
}

.calendaricon {
    width: 2%;
}


span.form-button {
    width: 8%;
}

ul {
    padding-inline-start: 0px;
}  */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.row {
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    display: flex;
}


 /* @media only screen and (max-width: 768px) {

  
    [class*=”col-“] {
  
  width: 100%;
  
    }

    body {
        background-color: lightgreen;
      }
  
  }

  @media screen and (min-width: 480px) {
  
  [class*=”col-“] {
  
    width: 100%;
    
      }
} */